@import '../../../../assets/scss/variables.scss';

$drawer-width: 120px;
$primary-dark: #000;
$primary-icon-color: gray;
$font-size-medium: 14px;
$transition-rate: 0.4s;
$primary-background-color: pink;
$primary-selected-text-color: red;

.container, .container .drawer {
  width: $drawer-width;
  height: 100%;
}

.container{
  
  > div{
    border: none;
  }

  .drawer{    
    background: $primary-dark;  
    display: inline-table;
    width: 100%;

    > div{
      border-right: none;    
    }
  
    li{
      padding: 0;
      color: $primary-icon-color;
      font-size: $font-size-medium;
      text-transform: uppercase;
      height: 100px;
      display: flex;
      flex-direction: column;
      transition: $transition-rate;
      
      img{
        max-width: 50px;
      }
    }
    
    .active > li{
      background: $primary-background-color;
      color: $primary-selected-text-color;
    }
  }
  
}

@media (max-width: $mobile-width) {
  .container, .container > div:nth-child(2){
    width: 80%!important;
  }

  li{
    flex-direction: row!important;
    height: 55px!important;
    img{
      width: 50px;
      margin-top: -10px;
    }
  }
}
