@import '../../../assets/scss/variables.scss';

.active > li{
  background: $primary-selected-text-color;
  font-weight: bold;

  &:hover{
    background: $primary-selected-text-color!important;  
  }

  * {
    color: $primary-background-color!important;
  }
}

.rtl{
  direction: rtl;
  text-align: right;
  justify-content: flex-start;
}
